*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-bar{
    position: fixed;
    background-color: rgb(33, 37, 41);
    width: 250px;
    height: 100%;
    overflow: auto;
}

.side-bar a{
    display: block;
    color: #fff;
    padding: 16px;
    text-decoration: none;
}

.lists{
    width: 100%;
    text-align: left;
}

.side-bar .active{
    background-color: rgb(16, 16, 123);
}

.side-bar a:hover{
    background-color: rgb(16, 16, 123);
}

.admin-title{
    padding: 20px;
}

::-webkit-scrollbar{
    overflow: hidden;
}


/* Media query */
@media screen and (max-width: 700px){
    .side-bar{
        position: relative;
        width: 100%;
        height: auto;
    }

    .side-bar a{
        float: left;
    }

    div.content{
        margin-left: 0;
    }

    .admin-title{
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .side-bar a{
        text-align: center;
        float: none;
    }
}


/* Additional for screen with below 912px */
@media screen and (max-width: 912px) {
    .side-bar {
        position: relative;
        width: 100%;
        height: auto;
    }

    .side-bar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }

    .admin-title {
        display: none;
    }
}

/* Additional for screen with below 1024px */
@media screen and (max-width: 1024px) {
    .side-bar {
        position: relative;
        width: 100%;
        height: auto;
    }

    .side-bar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }

    .admin-title {
        display: none;
    }
}

/* Additional for screen with below 1270px */
@media screen and (max-width: 1270px) {
    .side-bar {
        position: relative;
        width: 100%;
        height: auto;
    }

    .side-bar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }

    .admin-title {
        display: none;
    }
}




