*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepic{
    position: relative;
    margin-top: 0px;
    text-align: center;
    background-color: #eee;
    width: 100%;
    height: 90vh;
}

.contents{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    display: none;
}

.content-text{
    position: absolute;
    text-align: center;
    color: #fff;
    top: 77%;
    width: 100%;
}

.homepic img{
    top: 0;
    width: 100%;
    height: 100%;
}

.active{
    display: block;
}

.homepic h1{
    text-transform: uppercase;
}


.slideshow{
    position: relative;
    margin-top: 10px;
    background-color: #eee;
    height: 80vh;
}

.rows-content{
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
}
.row-cards{
    height: 70vh;
    width: 100%;
    margin-top: 20px;
}

.icon-location,
.event-title {
    display: inline-block;
}


/* Footer */
.event-footer{
    position: relative;
    text-align: center;
    height: auto;
    background-color: #10107B;
    color: #fff;
    margin-top: 2px;
}

i{
    font-size: 2rem;
}

.rows-footers{
    border-bottom: 2px solid #ffffff;
    padding: 20px;
}

.cols {
    display: flex;
    flex-direction: column;
}

/* Responsive */
@media screen and (max-width: 1280px){
    .event-footer {
        height: auto;
    }

    .row-cards{
        height: 35vh;
    }

    .slideshow{
        height: 40vh;
    }

    .homepic{
        height: 55vh;
    }
}

@media screen and (max-width: 1280px) {
    .event-footer {
        height: auto;
    }

    .row-cards {
        height: 55vh;
    }

    .slideshow {
        height: 70vh;
    }

    .homepic {
        height: 55vh;
    }
}

@media screen and (max-width: 412px) {
    .event-footer {
        height: auto;
        margin-bottom: 0;
    }

    .homepic{
        margin-top: 0px;
    }

    .row-cards {
        height: 45vh;
    }

    .slideshow {
        height: 160vh;
    }

}

@media (min-width: 280px)  and (max-width: 350px) {
    .homepic{
        width: 100%;
    }

    .event-footer{
        /* display: none; */
        margin-top: 15rem;
        margin-bottom: 0;

    }

    .event-footer input{
        display: none;
    }

    .slideshow {
        height: 250vh;
        width: 100%;
      }

    .row-cards {
        height: 75vh;
    }
}

@media  (min-width: 768px) and (max-width: 979px) {
    .event-footer{
        margin-bottom: 0;
        margin-top: 40rem;
    }

    .slideshow{
        height: 350vh;
    }

    .homepic{
        height: 55vh;
    }
    .row-cards{
        height: 150vh;
    }
}

